.chat-message {
  display: flex;
  margin-bottom: 50px;
}

.avatar {
  height: 50px;
  width: auto;
  border-radius: 100px;
  display: flex;
  margin-right: 20px;
}
.text-message {
  display: flex;
  flex-direction: column;
}
.text {
  background-color: #e9e9eb;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.receivedText {
  background-color: #1185f7;
  padding: 5px;
  border-radius: 10px;
}

.receivedText-message {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}
